{{#partial "content"}}

    <h3>Success! <br>  <span>{{ item }} </span> <br> DONE <br>{{Id}}</h3>
    <a class="btn btn-green" href="/hero">View Heroes</a>
    <a class="btn btn-green" href="/squad">View Squads</a>

    <a href="/">Go Back</a>
{{/partial}}

{{> layout.hbs}}