{{#partial "content"}}

    <h1>Hero list!</h1>
        {{#each myHeroes }}
            <p>Current heroes:</p>
            <p>{{ name }} <a href="/hero/{{id}}">details...</a></p>
        {{/each}}


    <h1>Squad list!</h1>

        {{#each mySquads }}
            <p>Current squads:</p>
            <p>{{ name }} <a href="/squad/{{id}}">details...</a></p>
        {{/each}}

{{/partial}}

{{> layout.hbs}}